.box {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;

    @media only screen and (min-width: 992px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    @media only screen and (min-width: 1200px) {
        flex-wrap: nowrap;
    }
}