.hero {
    display: flex;
    justify-content: space-between;
    padding-top: 170px;
    padding-bottom: 170px;

    &__heading {
        text-transform: uppercase;
        font-size: 3rem;
        font-weight: 100;
    }

    &__claim {
        max-width: 500px;
        font-weight: 400;
        margin-bottom: 50px;
        line-height: 1.3rem;
    }

    &__img {
        img {
            width: 300px;
            height: auto;
        }
    }

}